Repository CHANGE-EPFL/frame-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-json-schema, export-yaml-template, export-ts-models, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
exclude: ^.github
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.7
    hooks:
      - id: ruff # Linter
        args: [--fix]
      - id: ruff-format # Formatter
  - repo: local
    hooks:
      - id: export-json-schema
        name: export-json-schema
        language: system
        files: ^backend/api/models/.*$
        entry: |
          bash -c "cd backend && make export-json-schema"
  - repo: local
    hooks:
      - id: export-yaml-template
        name: export-yaml-template
        language: system
        files: ^backend/api/models/.*$
        entry: |
          bash -c "cd backend && make export-yaml-template"
  - repo: local
    hooks:
      - id: export-ts-models
        name: export-ts-models
        language: system
        files: ^backend/api/models/.*$
        entry: |
          bash -c "cd backend && make export-ts-models"
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        files: ^frontend/.*$
        exclude: ^frontend/src/models/.*$
        entry: |
          bash -c "cd frontend && npm run format"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: >
          (?x)^(
            .*uv\.lock|
            .*package-lock\.json
          )$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

feat: add Julia computational environment support
  backend/api/metadata_files/schema.json
  backend/api/metadata_files/template.yaml
  backend/api/models/computational_environment.py
  backend/api/models/hybrid_model.py
  backend/api/models/metadata_file.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/models/hybrid_model.ts
Due: export-json-schema, export-yaml-template, export-ts-models

chore: update npm dependencies
  backend/api/services/metadata.py
  backend/api/services/s3.py
  backend/api/views/files.py
  frontend/package-lock.json
Due: prettier

chore: add timeouts to requests
  backend/api/config.py
  backend/api/services/metadata.py
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: constrain python dependencies to minor versions
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: fix typo in computational environment model description
  backend/api/metadata_files/schema.json
  backend/api/metadata_files/template.yaml
  backend/api/models/computational_environment.py
  backend/api/models/hybrid_model.py
  frontend/src/models/hybrid_model.ts
Due: export-json-schema, export-yaml-template, export-ts-models

fix: incompatible quasar-app-extension-qmarkdown version
  backend/Makefile
  frontend/package-lock.json
  frontend/package.json
Due: prettier

feat: replace stars with ring for fair level
  backend/api/services/metadata.py
  frontend/src/components/UnitFullAbstract.vue
Due: prettier

feat: add about page with description of fair levels
  backend/api/metadata_files/schema.json
  backend/api/metadata_files/template.yaml
  backend/api/models/common_metadata.py
  backend/api/services/metadata.py
  frontend/src/components/UnitFullAbstract.vue
  frontend/src/layouts/MainLayout.vue
  frontend/src/models/hybrid_model.ts
  frontend/src/models/machine_learning_component.ts
  frontend/src/models/physics_based_component.ts
  frontend/src/pages/AboutPage.vue
  frontend/src/router/routes.ts
Due: export-json-schema, export-yaml-template, export-ts-models, prettier

fix: computation of FAIR levels with empty fields
  backend/api/services/metadata.py
Due: none

fix: add fallback sans-serif font for lab name
  frontend/src/css/app.scss
Due: prettier

feat: add url and version guidance to metadata template
  backend/api/metadata_files/schema.json
  backend/api/metadata_files/template.yaml
  backend/api/models/common_metadata.py
  frontend/src/models/hybrid_model.ts
  frontend/src/models/machine_learning_component.ts
  frontend/src/models/physics_based_component.ts
Due: export-json-schema, export-yaml-template, export-ts-models

fix: hide version selector if the only version is 'none'
  frontend/src/components/VersionSelector.vue
Due: prettier

fix: make component pull command not liked to model
  backend/api/services/metadata.py
  backend/api/views/components.py
  frontend/src/components/UnitFullAbstract.vue
  frontend/src/pages/MachineLearningComponentPage.vue
  frontend/src/pages/PhysicsBasedComponentPage.vue
Due: prettier

chore: add missing type annotation in metadata service
  backend/api/services/metadata.py
Due: none

chore: remove unused s3 files service
  backend/api/main.py
  backend/api/services/s3.py
  backend/api/views/files.py
Due: none

feat: add endpoint to download raw frame metadata as a file
  backend/api/services/metadata.py
  backend/api/views/hybrid_models.py
Due: none

chore: update frontend dependencies
  frontend/.eslintrc-auto-import.json
  frontend/package-lock.json
  frontend/package.json
  frontend/quasar.config.js
  frontend/src/auto-imports.d.ts
  frontend/src/components/AppToolbar.vue
  frontend/src/components/CopyCommand.vue
  frontend/src/models/hybrid_model.ts
  frontend/src/models/machine_learning_component.ts
  frontend/src/models/physics_based_component.ts
  frontend/src/stores/settings.ts
  frontend/tsconfig.json
Due: prettier

feat: add metadata version field to metadata schema
  backend/api/metadata_files/change_auto_diff.yaml
  backend/api/metadata_files/gleam.yaml
  backend/api/metadata_files/hybrid_et.yaml
  backend/api/metadata_files/schema.json
  backend/api/metadata_files/superflexpy.yaml
  backend/api/metadata_files/tandc.yaml
  backend/api/metadata_files/template.yaml
  backend/api/metadata_files/utnc.yaml
  backend/api/models/metadata_file.py
  backend/api/services/metadata.py
  backend/tests/api/test_components.py
  backend/tests/api/test_hybrid_models.py
  frontend/src/models/hybrid_model.ts
  frontend/src/models/machine_learning_component.ts
  frontend/src/models/physics_based_component.ts
Due: export-json-schema, export-yaml-template, export-ts-models

feat: add retrieval of readme content for hybrid models and components
  backend/api/models/component.py
  backend/api/models/hybrid_model.py
  backend/api/services/metadata.py
  frontend/src/models/hybrid_model.ts
  frontend/src/models/machine_learning_component.ts
  frontend/src/models/physics_based_component.ts
Due: export-json-schema, export-yaml-template, export-ts-models

feat: add rendered readme to pages
  frontend/.eslintrc-auto-import.json
  frontend/src/auto-imports.d.ts
  frontend/src/css/app.scss
  frontend/src/pages/HybridModelPage.vue
  frontend/src/pages/MachineLearningComponentPage.vue
  frontend/src/pages/PhysicsBasedComponentPage.vue
Due: prettier

fix: ensure correct readme url rewrite with regex
  .pre-commit-config.yaml
  backend/api/services/metadata.py
Due: none

chore: run pre-commit sort imports
  backend/api/models/computational_environment.py
  backend/api/models/hybrid_model.py
  backend/tests/api/test_hybrid_models.py
Due: export-json-schema, export-yaml-template, export-ts-models

chore: remove unused backend dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(metadata): add new_test_model metadata file
  backend/api/metadata_files/new_test_model.yaml
Due: none

feat(metadata): update utnc metadata file
  backend/api/metadata_files/utnc.yaml
Due: none
